body {
  min-height: 100vh;
  background-image: url('./assets/homebg.png');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Home Card CSS */
